* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {

}

h4 {
    font-size: 12px;
}
.container {
    display: flex;

}

/* stilizzazione font */

body {
    font-family: 'Roboto', sans-serif;
}

/* fine stilizzazione font */

section.recently-played,
section.user-playlist,
section.artisti-popolari {
    margin-top: 20px;
    color: white;
}

/*inizio aside */

aside {
    width: 40px;
    height: calc(100vh - 70px);
    padding: 10px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.logo-box-small img {
    width: 30px;
}

.aside-top  > .icon-box {
    text-align: center;
}

aside .icons-box {
    margin-top: 20px;
}

aside .icon-box {
    margin-bottom: 10px;
    font-size: 25px;
    /* text-align: center; */
}

aside .icon-box a {
    text-decoration: none;
    color:#a3a3a3;
}

.icon-box:hover  a {
    color: white;
}

.icon-box:hover .icon-text {
    color: white;
}

.crea-playlist-box:hover a {
    color: white;
}



aside .icon-text {
    display: none;
    font-size: 11px;
    color:#a3a3a3;
}

.playlist-aside h4 {
    text-transform: uppercase;
}

.crea-playlist-box {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.crea-playlist-box .crea-playlist {
    font-size: 13px;
    margin-left: 5px;
}

.crea-playlist-box > a {
    color: white;
    text-decoration: none;

}

.playlist-aside i {
    font-size: 30px;
}

.playlist-aside > ul {
    list-style: none;
    font-size: 11px;
    line-height: 30px;
}

.playlist-aside li:hover a {
    color: white;
}

.playlist-aside a {
    text-decoration: none;
    color: #a3a3a3;
}
/* fine aside */

/* inizio nav-bar */

.nav-bar_top {
    height: 70px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #080b12;
}


.nav-bar_top button {
    padding: 10px 35px;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    text-transform: uppercase;
    transition: all 0.5s;
}

.nav-bar_top button:hover {
    transform: scale(1.1);

}
/* fine navbar */

/* inizio main */
main {
    /* sottrazione delle due navbar e del player */
    height: calc(100vh - 140px);
    background-color: #141922;

}

/* inizio video-gallery */
.videos-gallery {
    height: 100%;
    width: 95%;
    margin: 0 auto;
    overflow-y: scroll;
}

.nav-bar_menu {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #141922;
    z-index: 1;
}

.menu-item {
    padding: 0 15px;
}

.menu-item a {
    text-decoration: none;
    text-transform: uppercase;
    color: #7d7f84;
    font-size: 11px;
}

.menu-item a:hover {
    color: white;
}

.hamburgher a {
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.videos-gallery h2 {
    padding-left: 6px;
    margin-bottom: 10px;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.videos h4 {
    text-transform: capitalize;

}

.videos .subtitles {
    font-size: 11px;

}

.video {
    padding: 6px;
    flex: 0 1 150px;
}

.video-top {
    position: relative;
}

.overlay-play {
    display: none;
}

.video-top:hover .overlay-play {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.overlay-play i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
}

.video-top img {
    width: 100%;
    height: 130px;
    object-fit: cover;
}

.video-bottom {
    text-align: center;
    text-transform: capitalize;

}


/* fine container right */

/* inizio player */
.player {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282828;
    z-index: 1;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
}

.player i {
    color: white;
}

.player-left {
    display: flex;
    align-items: center;
    flex: 1;
}

.player-img img {
    height: 40px;
}

/* .player-text {
    display: flex;
} */

.player-left .author,
.player-left .track-name {
    font-size: 14px;
}

.player-center {
    flex: 3;
}

.player-center-top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-center-top > .cmd-box {
    margin-right: 20px;
}

.player-center-top #play {
    font-size: 30px;
}

.player-center-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}



.player-center-bottom > .play-bar {
    height: 2px;
    width: 60%;
    margin: 0 10px;
    background-color: white;
    border-radius: 1px;
}

.player-right {
    display: flex;
    align-items: center;
    flex: 1;
}

.player-right > .cmd-box {
    margin-right: 10px;
}

.volume-bar {
    height: 2px;
    width: 40%;
    background-color: white;
    border-radius: 1px;
}


/* fine player */

/* media query */

@media screen and (max-width: 767px) {

    /* inizio aside */
    aside {
            align-items: center;
    }

    .logo-box {
        display: none;
    }

    aside .icon-box {
        text-align: center;
    }


    .icon-text {
        display: none;
    }

    .playlist-aside {
        display: none;;
    }

    /* fine aside */

    .menu-item {
        display: none;
    }
}

@media screen and (min-width: 768px) {

    /* inizio aside */
    aside {
        width: 384px;
    }

    .aside-top,
    .aside-bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .logo-box img {
        width: 180px;
    }

    .logo-box-small {
        display: none;
    }

    aside .icon-text {
        display: inline-block;
    }

    /* fine aside */

    .container-right {
        width: calc(100% - 384px);
    }

    nav {
        left: 384px;
    }

    .hamburgher {
        display: none;
    }
}

@media screen and (min-width: 992px) {

    /* inizio aside */

    aside {
        width: 248px;
    }
    .logo-box-small {
        display: none;
    }

    /* fine aside */

    .container-right {
        width: calc(100% - 248px);
    }

    nav {
        left: 248px;
    }

    .hamburgher {
        display: none;
    }
}

@media screen and (min-width: 1200px) {

    .hamburgher {
        display: none;
    }


}
