* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;

}

/*inizio aside */

aside {
    width: 40px;
    /* height: calc(100vh - 70px); */

    background-color: #000000;
}

.logo-box-small img {
    width: 30px;
}

.icon-box {
    color: white;
}


/* fine aside */

.container-right {
    width: calc(100% - 30px);
    /* height: calc(100vh - 70px); */

}

.nav-bar_top {
    height: 70px;
    display: flex;
    justify-content: flex-end;
    background-color: #000000;
}

.nav-bar_menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu-item {
    padding: 0 2px;
}

main {
    overflow-y: scroll;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.video {
    /* da cancellare */
    border: 1px solid black;
    background-color: tomato;
    height: 200px;

    flex: 0 1 150px;
}

.player {
    height: 70px;
    background-color: gray;
}


/* media query */

@media screen and (max-width: 767px) {

    /* inizio aside */
    .logo-box {
        display: none;
    }

    /* fine aside */
}

@media screen and (min-width: 768px) {

    /* inizio aside */
    .logo-box-small {
        display: none;
    }

    /* fine aside */
}

@media screen and (min-width: 992px) {

        /* inizio aside */
    .logo-box-small {
        display: none;
    }
    
    /* fine aside */
}
